<%- include("./partials/header") -%>
<div class="card mb-3" style="max-width: 80%; border:0;">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">BBS</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis eget sem et cursus. Sed facilisis mauris urna, et iaculis velit sagittis nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
          ridiculus mus. Sed in metus nibh. Donec tempor sit amet eros vel efficitur. Fusce justo quam, egestas sit amet varius vel, dapibus vestibulum turpis. Duis sit amet sodales magna, at semper lacus.</p>
        <button type="button" class="btn"><a class="button" href="/customers">Customers</a></button>
      </div>
    </div>
    <div class="col-md-4">
      <img src="images/hero.svg" style="width:500px;" alt="">
    </div>
  </div>
</div>
<%- include("./partials/footer") -%>
